doctype 5
html(lang="en", class="no-js")
  head
    title="Zitao"
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width")
    link(rel="stylesheet", href="//cdnjs.cloudflare.com/ajax/libs/pure/0.2.1/pure-min.css")
    link(rel="stylesheet", href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/3.2.1/css/font-awesome.min.css")    
    link(rel="stylesheet", href="/css/app.css")
  body
    .pure-g
      .pure-u-7-8
        .content
          for post in posts
            .post
              h1.post-title: a(href=post.url)= post.title
              .post-time(title=post.iso) Posted #{post.time}
              .post-body !{post.content}
              hr
      .pure-u-1-8.navigation
        ul
          li: a(href='/about') About
          li: a(href='/') Blog
          li: a(href='mailto:web@zitao.ca') Email
          li: a(href='http://github.com/gwwfps') Github
    
    script.
      (function() {
        var config = {
          kitId: 'yea5gsg',
          scriptTimeout: 3000
        };
        var h=document.getElementsByTagName("html")[0];h.className+=" wf-loading";var t=setTimeout(function(){h.className=h.className.replace(/(\s|^)wf-loading(\s|$)/g," ");h.className+=" wf-inactive"},config.scriptTimeout);var tk=document.createElement("script"),d=false;tk.src='//use.typekit.net/'+config.kitId+'.js';tk.type="text/javascript";tk.async="true";tk.onload=tk.onreadystatechange=function(){var a=this.readyState;if(d||a&&a!="complete"&&a!="loaded")return;d=true;clearTimeout(t);try{Typekit.load(config)}catch(b){}};var s=document.getElementsByTagName("script")[0];s.parentNode.insertBefore(tk,s)
      })();
